# Archivos y carpetas del sistema operativo
.DS_Store
Thumbs.db

# Carpetas de dependencias
node_modules/

# Archivos de configuración y entorno
.env
.env.local
.env.development
.env.production
config.js
config.json

# Archivos de log
*.log

# Archivos temporales
temp/
tmp/

# Archivos de paquetes
package-lock.json
yarn.lock

# Archivos específicos del editor
.idea/
.vscode/

# Otros
.history
*.swp
._*

# Carpetas de subida de archivos (si aplica)
uploads/

# Archivos de base de datos local (si aplica)
*.sqlite
*.db

# Archivos de caché (si aplica)
.cache/