/* Estilos para el encabezado */
ion-header {
  --background: #00CEC8; /* Nuevo color */
  --color: white; /* Color del texto del encabezado */
}

/* Estilos para el contenido principal */
ion-content {
  --background: #81DACA; /* Nuevo color */
  --color: #333; /* Color del texto principal */
  padding: 20px; /* Espaciado alrededor del contenido */
}

/* Estilos para los textos */
ion-text h2 {
  font-size: 24px; /* Tamaño de fuente para el título */
  margin-bottom: 10px; /* Espaciado inferior del título */
  color: #333; /* Color del texto del título */
}

ion-text p {
  font-size: 18px; /* Tamaño de fuente para el párrafo */
  color: #666; /* Color del texto del párrafo */
}

/* Estilos para el pie de página */
ion-footer {
  --background: #00B9B3; /* Nuevo color */
  --color: white; /* Color del texto del pie de página */
  text-align: center; /* Alineación centrada del texto */
}

ion-footer ion-text {
  padding: 10px; /* Espaciado alrededor del texto del pie de página */
  font-size: 14px; /* Tamaño de fuente del texto del pie de página */
}

/* Estilos para el contenedor de las tarjetas */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilo para cada tarjeta */
.card {
  background-color: white; /* Color de fondo blanco */
  border: 1px solid #ccc; /* Borde */
  padding: 20px; /* Padding */
  margin: 10px; /* Espaciado entre tarjetas */
  flex: 1 1 calc(33.333% - 20px); /* Para que se vean en una fila en escritorio */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .card {
    flex: 1 1 100%; /* Para que se vean una debajo de otra en móvil */
  }
}